<ul class="sidebar navbar-nav fixed-top">
    <li class="nav-item active">
        <a class="nav-link" href="/Admin/Home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span class="mautext">Trang Chủ</span>
        </a>
    </li>
    <li class="nav-item dropdown active ">
        <a class="nav-link  " href="/Admin/Order/Index">
            <i class="fas fa-chart-line"></i>
            <span class="mautext">Hóa Đơn</span>
        </a>
    </li>
    <!--Hệ Thống-->
    <li class="nav-item dropdown active ">
        <a class="nav-link  " href="/Admin/User/Index">
            <i class="fas fa-user-edit"></i>
            <span class="mautext">Người Dùng</span>
        </a>
    </li>
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-newspaper"></i>
            <span class="mautext">Tin Tức</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

            <a class="dropdown-item" href="/Admin/News/Index">Quản Lý Tin Tức</a>
            <a class="dropdown-item" href="/Admin/Content/Index">Quản Lý Content </a>
            <a class="dropdown-item" href="/Admin/Tag/Index">Quản Lý Tags</a>

        </div>
    </li>
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fab fa-product-hunt"></i>
            <span class="mautext">Sản Phẩm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

            <a class="dropdown-item" href="/Admin/ProductCategory/Index">Quản Lý Danh Mục</a>
            <a class="dropdown-item" href="/Admin/Product/Index">Quản Lý Sản Phẩm</a>
            <a class="dropdown-item" href="/Admin/FeedBack/Index">Quản Lý FeedBack</a>

        </div>
    </li>
    <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-chalkboard"></i>
            <span class="mautext">Quản Lý Chung</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">

            <a class="dropdown-item" href="/Admin/Slide/Index">Quản Lý Slide</a>
            <a class="dropdown-item" href="/Admin/Menu/Index">Quản Lý Menu</a>
            <a class="dropdown-item" href="/Admin/Contact/Index">Quản Lý Đối Tác</a>

        </div>
    </li>
</ul>

